apache
cgi-bin
contrib
FileZillaFTP
install
licenses
locale
MercuryMail
perl
/php/
phpMyAdmin
sendmail
tmp
tomcat
webalizer
webdav
mysql
apache_start.bat
apache_stop.bat
catalina_start.bat
catalina_stop.bat
mysql_start.bat
mysql_stop.bat
passwords.txt
readme_de.txt
readme_en.txt
setup_xampp.bat
test_php.bat
xampp_start.exe
xampp_stop.exe
xampp_control.exe
xampp-control.exe
xampp-control.ini
catalina_service.bat
