bin/heidisql/tabs.ini
bin/heidisql/Backups/*

bin/laragon/laragon.log

bin/sendmail/output/*

bin/notepad++/config.xml
bin/notepad++/langs.xml
bin/notepad++/session.xml
bin/notepad++/stylers.xml
bin/notepad++/plugins/Config/converter.ini

tmp

bin/mysql/mysql-5.1.72-win32/data/ib_logfile0
bin/mysql/mysql-5.1.72-win32/data/mysqld.log
bin/nginx/nginx-1.14.0/logs/nginx.pid
bin/nginx/nginx-1.14.0/logs/*.log
bin/laragon/laragon.cmd
bin/nginx/nginx-1.14.0/conf/nginx.conf
bin/nginx/nginx-1.14.0/logs/access.log
bin/nginx/nginx-1.14.0/logs/error.log
bin/nginx/nginx-1.14.0/logs/nginx.pid
bin/php/php-8.2.0-nts-Win32-vs16-x64/php.ini
etc/apache2/fcgid.conf
etc/apache2/alias/adminer.conf
etc/apache2/alias/laragon.conf
etc/apache2/alias/memcached.conf
etc/apache2/alias/phpmyadmin.conf
etc/apache2/alias/redis.conf
etc/nginx/alias/adminer.conf
etc/nginx/alias/laragon.conf
etc/nginx/alias/memcached.conf
etc/nginx/alias/phpmyadmin.conf
etc/nginx/alias/redis.conf
etc/nginx/sites-enabled/00-default.conf
etc/nginx/sites-enabled/auto.aiproject.local.conf
usr/laragon.ini
bin/mysql/mysql-5.1.72-win32/data/mysql/host.MYD
