bin/heidisql/tabs.ini
bin/heidisql/Backups/*

bin/laragon/laragon.log

bin/sendmail/output/*

bin/notepad++/config.xml
bin/notepad++/langs.xml
bin/notepad++/session.xml
bin/notepad++/stylers.xml
bin/notepad++/plugins/Config/converter.ini

tmp

bin/mysql/mysql-5.1.72-win32/data/ib_logfile0
bin/mysql/mysql-5.1.72-win32/data/mysqld.log
bin/nginx/nginx-1.14.0/logs/nginx.pid
bin/nginx/nginx-1.14.0/logs/*.log
