/* W jaki sposób stworzyć własny wygląd body? */
/* Każdy moduł ma zarezerwowaną nazwe klasy body: */
.mainpage {
 color: white;
}
.map {
 color: white;
}
.adminpanel {
 color: white;
}
.search {
 color: white;
}
.plan .plan-container {
    display: flex;
    justify-content: center;
}

.plan .popup {
    /* Add gray transparent background to this div */
    background-color: #00000063;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.plan .popup .placeholder {
    /* Add gray transparent background to this div */
    text-align: center;
    font-size: 180%;
}