/* W jaki sposób stworzyć własny wygląd body? */
/* Każdy moduł ma zarezerwowaną nazwe klasy body: */
.MainPage {
 color: white;
}
.Map {
 color: white;
}
.Adminpanel {
 color: white;
}
.Search {
 color: white;
}
.Plan .plan-container {
    display: flex;
    justify-content: center;
}

.Plan .popup {
    /* Add gray transparent background to this div */
    background-color: #00000063;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Plan .popup .placeholder {
    /* Add gray transparent background to this div */
    text-align: center;
    font-size: 180%;
    padding: 0;
    margin: 0;
}
.Plan .popup h2{
    font-size: 100%;
    padding: 0;
    margin: 0;
    color: white
}
.Plan .popup p{
    font-size: 90%;
    padding: 0;
    margin: 0;
    color: rgb(151, 151, 151);
}
.Plan .popup a{
    font-size: 90%;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(127, 111, 172);
}

.Plan .buttons {
    padding: 3%;
    background-color: #00000027;
}
.Plan .buttons label{
    margin-bottom : 3%;
}
.Plan .buttons input{
    margin: 0 1%;
    padding: 1%;
    border: none;
    background-color: rgb(18, 16, 24);
    color: white;
    font-size: 90%;
}
.Plan .buttons input:hover{
    background-color: rgb(127, 111, 172);
}